---
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Welcome to Astro."
  description="Este es mi portafolio donde presento las diferente tecnologías y experiencias que tengo en las diferentes herramientas"
>
  <main>home</main>
</Layout>

<style lang="scss">
  main {
    color: #fff;
  }
</style>
