---
import About from "../components/About.astro";
import Home from "../components/Home.astro";
import Projects from "../components/Projects.astro";
import Technologies from "../components/Technologies.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Welcome to Astro."
  description="Este es mi portafolio donde presento las diferente tecnologías y experiencias que tengo en las diferentes herramientas"
>
  <main>
    <Home />
    <Projects />
    <Technologies />
    <About />
  </main>
</Layout>
<style style="scss">
  main {
    display: flex;
    flex-direction: column;
    gap: calc(var(--padding-5x) * 5);
    max-width: var(--content-max-width);
    padding: 0 10%;
    margin: auto;
  }
</style>
