---
import IconTitleShape from "@/icons/IconTitleShape.astro";
import Socials from "./Socials.astro";
import Typography from "./Typography.astro";
import css from "@/styles/shared.module.scss";
---

<section>
  <Typography tag="h3" bold id="about"
    ><IconTitleShape class={css.iconTitle} /> Sobre Mi</Typography
  >
  <article>
    <div>
      <x-text>
        <Typography tag="h5" wrap="balance" textColor="textAlt">
          !Hola! soy Francisco Vera, mis amigos me llaman Happy.
        </Typography>
        <Typography tag="h5" wrap="balance" textColor="textAlt">
          Desde temprana edad he demostrado interés por el mundo de la
          informática
        </Typography>
        <Typography tag="h5" wrap="balance" textColor="textAlt">
          En el 2018 entre en la Universidad en la carrera de Lic. en Sistema de
          Información, estuve 1 año y medio en la carrera.
        </Typography>
        <Typography tag="h5" wrap="balance" textColor="textAlt">
          Luego de un tiempo decidí retomar mis estudios, esta ves de manera
          autodidacta, desde entonces he dedicado mucho tiempo para mejorar mi
          nivel de conocimiento.
        </Typography>
        <Typography tag="h5" wrap="balance" textColor="textAlt">
          Destaco mi capacidad de crear soluciones para un cliente de manera
          rápida, eficiente y de manera profesional.
        </Typography>
      </x-text>
      <img src="/images/me.png" alt="Mi imagen personal" />
    </div>
    <Typography tag="h3">Contactos</Typography>
    <Typography tag="h5" wrap="balance" textColor="textAlt">
      ¡Estoy emocionado por nuevas oportunidades! Puedes contactarme a través de
      mi LinkedIn o por correo electrónico a frovahappy@gmail.com.
    </Typography>
    <Socials />
  </article>
</section>
<style lang="scss">
  section {
    display: flex;
    flex-direction: column;
    gap: var(--padding-4x);
  }
  img {
    height: 200px;
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: var(--radius-2x);
  }
  div {
    display: flex;
    gap: var(--padding-4x);
  }

  x-text {
    display: flex;
    flex-direction: column;
    gap: var(--padding-3x);
  }
  article {
    padding-left: var(--padding-5x);
    display: flex;
    flex-direction: column;
    gap: var(--padding-3x);
  }
  @media only screen and (max-width: 900px) {
    div {
      flex-direction: column;
    }
  }
</style>
