---
import IconTitleShape from "@/icons/IconTitleShape.astro";
import Socials from "./Socials.astro";
import Typography from "./Typography.astro";
import css from "@/styles/shared.module.scss";

const personal = {
  about: {
    title: "Quién soy",
    description: `
      ¡Hola! Soy Francisco Vera (Happy para los amigos), desarrollador fullstack con experiencia construyendo soluciones web sólidas, escalables y centradas en el usuario.
      Domino tanto frontend como backend, lo que me permite abordar proyectos de manera integral, optimizando tiempos y recursos.
      Ya sea que necesites lanzar un producto, escalar una aplicación existente o simplemente sumar a alguien que se involucre con compromiso real, puedo ayudarte a llevar tu proyecto al siguiente nivel.
      ¿Trabajamos juntos? Estoy listo para aportar valor desde el primer día.
  `,
  },
};
---

<section>
  <Typography tag="h3" bold id="about"
    ><IconTitleShape class={css.iconTitle} /> {personal.about.title}</Typography
  >
  <article>
    <div>
      <img src="/images/me.png" alt="Mi imagen personal" />
      <x-text>
        {
          personal.about.description
            .split("\n")
            .filter((line) => line.trim() !== "")
            .map((line) => (
              <Typography tag="h5" wrap="balance" textColor="textAlt">
                {line}
              </Typography>
            ))
        }
        <Socials />
      </x-text>
    </div>
  </article>
</section>
<style lang="scss">
  section {
    display: flex;
    flex-direction: column;
    gap: var(--padding-4x);
  }
  img {
    height: 200px;
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: var(--radius-2x);
  }
  div {
    display: flex;
    gap: var(--padding-4x);
  }

  x-text {
    display: flex;
    flex-direction: column;
    gap: var(--padding-3x);
    width: 75%;
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
  article {
    padding-left: var(--padding-5x);
    display: flex;
    flex-direction: column;
    gap: var(--padding-3x);
  }
  @media only screen and (max-width: 900px) {
    div {
      flex-direction: column;
    }
  }
</style>
