---
import Socials from "./Socials.astro";
import Typography from "./Typography.astro";
---

<section>
  <Typography tag="h3" bold>Sobre Mi</Typography>
  <div>
    <img src="/images/me.png" alt="Mi imagen personal" />
    <x-text>
      <Typography tag="h4" wrap="balance">
        Como todos los programadores me apasiona la programación , me gusta
        crear características que le puedan servir a otras personas.
      </Typography>
      <Typography tag="h4" wrap="balance">
        Me he formado en gran parte de manera autodidacta, usando de punto de
        partida lo aprendido el año y medio que estuve en la facultad
      </Typography>
    </x-text>
  </div>
  <Socials />
</section>
<style style="scss">
  img {
    height: 250px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: var(--radius-2x);
  }
  div {
    display: flex;
    gap: var(--padding-4x);
  }
</style>
