---
import IconFile from "../icons/IconFile.astro";
import Button from "./Button.astro";
import Socials from "./Socials.astro";
import Typography from "./Typography.astro";
---

<section>
  <div class="anchor"><Typography tag="span" id="home" /></div>

  <article>
    <Socials />
    <x-title>
      <Typography tag="h1" bold><span>Francisco</span> Vera</Typography>
      <Typography tag="h4" bold
        ><Typography tag="span">Alias</Typography> Frova Happy</Typography
      >
    </x-title>
    <Typography tag="h5"
      >Soy <span>Desarrollador Jr. Full-Stack</span> en MERN Stack y llevo<span>
        +2 años
      </span> desarrollando Aplicaciones Web.</Typography
    >
    <Button size="big" style="primary" text="Curriculum"
      ><IconFile slot="alignRight" /></Button
    >
  </article>
  <img src="/images/logo-big.webp" alt="imagen del logo grande" />
</section>
<style style="scss">
  span {
    color: var(--color-primary);
  }
  section {
    position: relative;
    margin-top: calc(var(--margin-nav) * -1);
    display: flex;
    gap: var(--padding-3x);
    min-height: calc(100vh + var(--margin-nav));
    align-items: center;
  }
  article {
    display: flex;
    flex-direction: column;
    gap: var(--padding-5x);
  }
  .anchor {
    position: absolute;
    height: 100%;
  }
  img {
    object-fit: contain;
    max-width: 500px;
    aspect-ratio: 175/111;
  }
  @media only screen and (max-width: 1000px) {
    section {
      flex-direction: column-reverse;
    }
  }
</style>
