---
import IconFile from "@/icons/IconFile.astro";
import Typography from "./Typography.astro";
---

<nav>
  <div>
    <IconFile class="btnHome" />
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#projects">Proyectos</a></li>
      <li><a href="#skills">Habilidades</a></li>
      <li><a href="#about">About</a></li>
    </ul>
  </div>
</nav>

<script>
  // Animate the navigation when is scrolled
  const $nav = document.querySelector("nav");
  window.addEventListener("scroll", () => {
    console.log(window.scrollY);
    window.scrollY !== 0
      ? $nav?.classList.add("scrolling")
      : $nav?.classList.remove("scrolling");
  });

  // Show element of nav in mobile screen
  const $btnHome = document.querySelector(".btnHome");
  $btnHome?.addEventListener("click", () => {
    document.querySelector("ul")?.classList.toggle("showNav");
  });
</script>
<style lang="scss">
  ul,
  li {
    all: unset;
  }
  ul {
    display: flex;
    gap: var(--padding-5x);
  }
  a {
    padding: 10px 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-text);
    transition: 0.2s ease;
    border-radius: var(--padding-5x);
    &:hover {
      background-color: var(--color-text);
      color: var(--color-background);
    }
  }
  nav {
    z-index: var(--z-nav);
    position: fixed;
    top: 0;
    width: 100%;
    transition: margin-top 0.3s ease;
  }
  div {
    display: flex;
    align-items: center;
    height: 80px;
    width: min-content;
    margin: 0 auto;
    background-color: #0000;
    padding: 0 var(--padding-5x);
    border-radius: 40px;
    transition: background-color 0.3s ease;
  }
  .scrolling {
    margin: 20px 0 0 0;
  }
  .scrolling > div {
    background-color: color-mix(
      in srgb,
      var(--color-background) 70%,
      transparent
    );
    backdrop-filter: blur(20px);
  }
  .btnHome {
    display: none;
  }
  @media only screen and (max-width: 768px) {
    .btnHome {
      display: block;
      height: 48px;
      padding: 10px;
      border-radius: var(--padding-5x);
      box-sizing: border-box;
      color: var(--color-text);
      transition: 0.2s ease;
      &:hover {
        background-color: var(--color-text);
        color: var(--color-background);
      }
    }
    .showNav {
      display: flex;
    }
    ul {
      display: none;
      flex-direction: column;
      box-sizing: border-box;
      padding: 10px 0;
      padding-top: 30px;
    }
    div {
      align-items: flex-start;
      flex-direction: column;
      height: var(--content-max);
      padding: 20px;
      background-color: color-mix(
        in srgb,
        var(--color-background) 70%,
        transparent
      );
      backdrop-filter: blur(20px);
    }
    nav {
      width: auto;
      height: auto;
      padding-left: var(--padding-5x);
    }
  }
</style>
