---
import projects from "../const/projects";
import IconArrowRight from "../icons/IconArrowRight.astro";
import IconTitleShape from "../icons/IconTitleShape.astro";
import Button from "./Button.astro";
import ProjectCard from "./ProjectCard.astro";
import Typography from "./Typography.astro";
import css from "@/styles/shared.module.scss";
---

<section>
  <Typography tag="h3" bold id="projects"
    ><IconTitleShape class={css.iconTitle} /> Proyectos</Typography
  >
  <ul>
    {projects.map((p) => <ProjectCard {...p} />)}
    <Button
      size="medium"
      style="secondary"
      text="Ver Más Proyectos"
      id="projects-btn"><IconArrowRight slot="alignLeft" /></Button
    >
  </ul>
</section>
<script>
  const $projectBtn = document.querySelector("#projects-btn");
  $projectBtn?.addEventListener("click", () => {
    console.log("hola");
  });
</script>
<style lang="scss">
  section {
    display: flex;
    flex-direction: column;
    gap: var(--padding-4x);
  }
  ul {
    all: unset;
    padding-left: var(--padding-5x);
    display: flex;
    flex-direction: column;
    gap: var(--padding-3x);
  }
</style>
