---
import IconX from "@/icons/IconX.astro";
import projects from "../const/projects";
import IconArrowRight from "../icons/IconArrowRight.astro";
import IconTitleShape from "../icons/IconTitleShape.astro";
import Button from "./Button.astro";
import ProjectCard from "./ProjectCard.astro";
import Typography from "./Typography.astro";
import css from "@/styles/shared.module.scss";
---

<section>
  <Typography tag="h3" bold id="projects"
    ><IconTitleShape class={css.iconTitle} /> Proyectos</Typography
  >
  <ul>
    {projects.slice(0, 2).map((p) => <ProjectCard {...p} />)}
    <Button
      size="medium"
      style="secondary"
      text="Ver Más Proyectos"
      id="projects-btn"><IconArrowRight slot="alignLeft" /></Button
    >
  </ul>
  <dialog>
    <ul>
      <Button size="medium" style="secondary" text="" id="modal-close"
        ><IconX slot="alignLeft" /></Button
      >
      {projects.slice(2).map((p) => <ProjectCard {...p} />)}
      <span>Este es el Final...</span>
    </ul>
  </dialog>
</section>
<script>
  const $projectBtn = document.querySelector("#projects-btn");
  const $modalBtnClose = document.querySelector("#modal-close");
  const $dialog = document.querySelector("dialog");
  $projectBtn?.addEventListener("click", () => {
    $dialog?.showModal();
  });
  $modalBtnClose?.addEventListener("click", () => {
    $dialog?.close();
  });
</script>
<style lang="scss">
  section {
    display: flex;
    flex-direction: column;
    gap: var(--padding-4x);
  }
  ul {
    all: unset;
    padding-left: var(--padding-5x);
    display: flex;
    flex-direction: column;
    gap: var(--padding-3x);
  }
  dialog {
    background: #00000080;

    height: 100%;
    padding: 20px 10%;
    backdrop-filter: blur(20px);
    & > ul {
      position: relative;
      padding: 0;
      & > span {
        width: 100%;
        text-align: center;
        color: var(--color-text);
        padding: var(--padding-5x) 0;
      }
    }
  }
</style>
