---
import Button from "./Button.astro";
import IconBrandLinkedin from "../icons/IconBrandLinkedin.astro";
import IconBrandGithub from "../icons/IconBrandGithub.astro";
import IconMail from "../icons/IconMail.astro";
---

<div>
  <Button
    size="small"
    style="secondary"
    text="Linkedin"
    tag="a"
    url="https://www.linkedin.com/in/frovahappy"><IconBrandLinkedin /></Button
  >
  <Button
    size="small"
    style="secondary"
    text="Github"
    tag="a"
    url="https://github.com/FrovaHappy"><IconBrandGithub /></Button
  >
  <Button
    size="small"
    style="secondary"
    text="frovahappy@gmail.com"
    tag="a"
    url="mailto:frovahappy@gmail.com"><IconMail /></Button
  >
</div>
<style lang="scss">
  div {
    display: flex;
    flex-wrap: wrap;

    gap: var(--padding-2x);
    width: var(--content-full);
  }
</style>
