---
import IconJavaScript from "../icons/IconJavaScript.astro";
import IconCss from "../icons/IconCss.astro";
import IconHtml from "../icons/IconHtml.astro";
import IconSass from "../icons/IconSass.astro";
import IconTypeScript from "../icons/IconTypeScript.astro";
import IconNodeJs from "../icons/IconNodeJs.astro";
import IconReactJs from "../icons/IconReactJs.astro";
import IconMongoDb from "../icons/IconMongoDb.astro";
import IconExpressJs from "../icons/IconExpressJs.astro";
import IconNextJs from "../icons/IconNextJs.astro";
import IconAstro from "../icons/IconAstro.astro";
import IconPrismaOrm from "../icons/IconPrismaOrm.astro";
import IconVitest from "../icons/IconVitest.astro";
import Tech from "./Tech.astro";
import Typography from "./Typography.astro";
import css from "@/styles/shared.module.scss";
import IconTitleShape from "@/icons/IconTitleShape.astro";
import IconBrandGithub from "@/icons/IconBrandGithub.astro";
import IconFigma from "@/icons/IconFigma.astro";
import IconLogoGitHub from "@/icons/IconLogoGitHub.astro";
import IconDiscordJs from "@/icons/IconDiscordJs.astro";
interface Data {
  title: string;
  stack: { name: string; icon: (_props: Record<string, any>) => any }[];
}
const technologies: Data = {
  title: "Lenguajes",
  stack: [
    { name: "TypeScript", icon: IconTypeScript },
    { name: "Javascript", icon: IconJavaScript },
    { name: "CSS", icon: IconCss },
    { name: "HTML", icon: IconHtml },
  ],
};
const frontend: Data = {
  title: "Frontend",
  stack: [
    { name: "NextJs", icon: IconNextJs },
    { name: "ReactJs", icon: IconReactJs },
    { name: "Sass", icon: IconSass },
  ],
};
const backends: Data = {
  title: "Backends",
  stack: [
    { name: "NodeJS", icon: IconNodeJs },
    { name: "MongoBB", icon: IconMongoDb },
    { name: "ExpressJs", icon: IconExpressJs },
    { name: "DiscordJs", icon: IconDiscordJs },
  ],
};
const tools: Data = {
  title: "Herramientas",
  stack: [
    { name: "GitHub", icon: IconLogoGitHub },
    { name: "Figma", icon: IconFigma },
  ],
};
const learnings: Data = {
  title: "Aprendiendo",
  stack: [
    { name: "Astro", icon: IconAstro },
    { name: "Prisma Orm", icon: IconPrismaOrm },
    { name: "Vitest", icon: IconVitest },
  ],
};
const Sections = [technologies, frontend, backends, tools, learnings];
---

<section>
  <Typography tag="h3" bold id="skills"
    ><IconTitleShape class={css.iconTitle} /> Habilidades</Typography
  >
  <article>
    {
      Sections.map(({ title, stack }) => {
        return (
          <div>
            <h3>{title}</h3>
            <ul>
              {stack.map(({ name, icon: Icon }) => (
                <Tech name={name}>
                  <Icon />
                </Tech>
              ))}
            </ul>
          </div>
        );
      })
    }
  </article>
</section>
<style style="scss">
  h3,
  h2 {
    color: var(--color-text-alt);
  }
  section {
    display: flex;
    flex-direction: column;
    gap: var(--padding-4x);
  }
  div {
    background: var(--color-content);
    padding: var(--padding-3x);
    gap: var(--padding-3x);
    border-radius: var(--padding-3x);
  }
  article {
    padding-left: var(--padding-5x);
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-3x);
  }
  ul {
    all: unset;
    display: flex;
    gap: var(--padding-3x);
    flex-wrap: wrap;
  }
</style>
