---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/normalize.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --color-primary: blue;
    --color-danger: #f76c1b;
    --color-text: #e0e0e0;
    --color-text-alt: #cecece;
    --color-background: #202020;
    --color-content: #252525;
    --color-content-alt: #2c2c2c;

    --content-min: min-content;
    --content-max: max-content;
    --content-full: -webkit-fill-available;

    --radius-1x: 4px;
    --radius-2x: 8px;
    --radius-3x: 16px;
    --padding-1x: 4px;
    --padding-2x: 8px;
    --padding-3x: 16px;
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
