---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/normalize.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --color-primary: #008ff5;
    --color-danger: #f76c1b;
    --color-text: #e0e0e0;
    --color-text-alt: #cecece;
    --color-background: #202020;
    --color-content: #252525;
    --color-content-alt: #2c2c2c;
    --margin-nav: -80px;
    --content-min: min-content;
    --content-max: max-content;
    --content-max-width: 1100px;
    --content-full: -webkit-fill-available;

    --z-nav: 1;

    --radius-1x: 4px;
    --radius-2x: 8px;
    --radius-3x: 16px;
    --padding-1x: 4px;
    --padding-2x: 8px;
    --padding-3x: 16px;
    --padding-4x: 24px;
    --padding-5x: 32px;
  }
  /** Resets */
  button,
  a,
  input,
  textarea {
    all: unset;
  }

  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
    scroll-behavior: smooth;
  }
  svg {
    height: 100%;
    aspect-ratio: 1/1;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
